html, body {
    height: $fullHeight;
    div {
        height: $fullHeight;
    }
}

main {
    display: flex;
    overflow: visible;
    align-items: center;
    height: $fullHeight;
    margin: 5px;
}

main {
    aside {
        flex: 1;
    }
    textarea {
        flex: 1;
        resize: none;
    }
}

.input-output {
    min-height: $fullHeight;
    margin: 5px;
    padding: 0.5em;
    text-align: left;
    font-size: 1em;
    font-family: $fonts;
    color: $textColor;
}

.divider {
    min-height: $fullHeight;
    max-width: 0.01%;
    border: 0.5px solid black;
}
